/*******************************************************results.css*************************************************************************/
.rcard {
    display: grid;
    grid-template-columns: 150px 150px auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    width: 450px;
    height: 190px;
    margin: 30px;
  }
  
  
  .rcard:hover {
    box-shadow: 1px 1px 20px 4px #acacbd;
  }

  .rcard-bg{
    background: linear-gradient(to bottom left, #FF006F, #FFCC00);
    box-shadow: 1px 1px 20px 4px #acacbd;
  }

  .rcard-content {
    font-family: Roboto;
    text-align: left;
    padding: 7px 16px;
}

.rcard-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: transparent;
    padding:10px;
    border-radius: 5px;
  }

  
  .view{
	background: linear-gradient(to bottom left, #FF006F, #FFCC00);
	border-radius: 5px;
	color: white;
	font-size: 14px;
	border: none;
    float: right;
    padding: 5px 10px;
    text-align: center;
    margin: 3px;
    
   
}

.view:focus{
	outline: none;
	cursor: pointer;
}

.view:hover {
    outline: none;
	
}

#plays{
    color: orangered;
    font-weight: bold;
}

.progress {
    width: 100%;
    background-color: white;
    border-radius: 3px;
	height: 7px;
  }
  
  .progress::after {
    border-radius: 3px;
    height: 5px;
    width: 66%;
    background: linear-gradient(to bottom left, #FF006F, #FFCC00);
    
  }

  .progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}


/*****************************************************************view.css*********************************************************************/

.vcard {
    display: grid;
    grid-template-columns: 150px auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    width: 370px;
    height: 150px;
    margin: 30px;
  }
  
  
  .vcard:hover {
   
    box-shadow: 1px 1px 20px 4px #acacbd;
  }

  .vcard-bg{
    background: linear-gradient(to bottom left, #FF006F, #FFCC00);
    box-shadow: 1px 1px 20px 4px #acacbd;
  }
  
  
  .vcard-content {
      font-family: Roboto;
      text-align: left;
      padding: 7px 16px;
  }

  #btn{
	background: linear-gradient(to bottom left, #FF006F, #FFCC00);
	border-radius: 5px;
	color: white;
	font-size: 14px;
	border: none;
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin: 3px;
    height: 25px;
   
}

#btn:focus{
	outline: none;
	cursor: pointer;
}

#btn:hover {
    outline: none;
    opacity: 0.7;
	
}
